.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 1100px; /* Position the circle higher */
  flex-wrap: wrap; /* Allow wrapping on small screens */
}

.card {
  width: 630px;
  height: 500px;
  text-align: left;
  border: solid;
  border-width: 2px;
  border-color: #272623;
  position: absolute;
  box-shadow: 50px 80px 0px 0px #272623;
  transition: transform 0.4s; /* Smooth transition for rotation */
}

.card1 {
  background-color: #46a9e5;
}

.card2 {
  background-color: #59bc5c;
}

.card1_rotate {
  transform: rotate(-35deg);
  mix-blend-mode: hard-light;
}

.card2_rotate {
  transform: rotate(35deg);
  mix-blend-mode: hard-light;
}

.p2_title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 900;
  border-bottom: solid;
  font-weight: bold;
  border-color: #272623;
  border-bottom-width: 2px;
}

.p2_text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 34px;
  margin: 4px;
}

@media (min-width: 744px) {
  .card1_rotate {
    right: 50%;
  }

  .card2_rotate {
    left: 50%;
  }
}

@media (max-width: 1600px) {
  .card-container {
    margin-top: 100px;
    height: 900px;
    top: 1100px
  }
}

@media (max-width: 743px) {
  .card-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card {
    width: 90%; /* Full width with some padding */
    height: auto;
    margin: 20px 0;
    box-shadow: none; /* Remove shadow on small screens */
  }

  .card1_rotate,
  .card2_rotate {
    transform: none; /* Remove rotation on small screens */
  }

  .p2_title {
    font-size: 32px; /* Smaller font size */
  }

  .p2_text {
    font-size: 18px; /* Smaller font size */
  }
}
