<div class="floating-menu">
  <a href="#bio" class="menu_box menu_intro">{{ 'header.intro' | translate }}</a>
  <a href="#projects" class="menu_box menu_timetable">{{ 'header.projects' | translate }}</a>
  <a href="#contact" class="menu_box menu_about">{{ 'header.contact' | translate }}</a>
  
  <!-- Language Switcher -->
  <div class="language-switcher" (click)="toggleLanguage()">
    <span [class]="getFlagClass()"></span>
    <span class="language-label">{{ translationService.getCurrentLanguage() === 'fr' ? 'FR' : 'EN' }}</span>
  </div>
</div>
