<section class="projets-section" id="projects">
  <div class="projets-content">
    <h2 class="section-title">{{ 'projects.title' | translate }}</h2>
    <div class="projets-grid">
      <div class="projet-card" *ngFor="let projet of projets">
        <img [src]="projet.imageUrl" [alt]="projet.titre" class="projet-image" />
        <div class="projets-description">
          <h3>{{ projet.titre }}</h3>
          <p>{{ projet.descriptionKey | translate }}</p>

          <div class="technologies">
            <span class="tech-tag" *ngFor="let tech of projet.technologies">{{ tech }}</span>
          </div>

          <div class="projet-links">
            <a *ngIf="projet.lienSite" [href]="projet.lienSite" target="_blank">
              {{ 'projects.visitSite' | translate }}
            </a>

            <a *ngIf="projet.lienDemo" [href]="projet.lienDemo" target="_blank">
              {{ 'projects.viewDemo' | translate }}
            </a>            
            <ng-container *ngIf="projet.lienCodeFront && projet.lienCodeBack; else singleCode">
              <a [href]="projet.lienCodeFront" target="_blank">
                {{ 'projects.viewFrontCode' | translate }}
              </a>
              <a [href]="projet.lienCodeBack" target="_blank">
                {{ 'projects.viewBackCode' | translate }}
              </a>
            </ng-container>

            <ng-template #singleCode>
              <a *ngIf="projet.lienCode" [href]="projet.lienCode" target="_blank">
                {{ 'projects.viewCode' | translate }}
              </a>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
