<div>
  <div [class]="getBlobGroupClass()">
    <ng-container *ngIf="group === 1">
      <!-- Blob 1 -->
      <div class="blob-wrapper blob1">
        <svg
          class="blob"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <linearGradient
              id="fill1"
              x1="0%"
              y1="0%"
              x2="100%"
              y2="0%"
              gradientTransform="rotate(97 0.5 0.5)"
            >
              <stop offset="0%" stop-color="#f6a739"></stop>
              <stop offset="100%" stop-color="#f96565"></stop>
            </linearGradient>
          </defs>
          <path
            d="M86,61Q81,72,71,78.5Q61,85,50,84.5Q39,84,31.5,76.5Q24,69,20,59.5Q16,50,16.5,38Q17,26,26,14.5Q35,3,49.5,5.5Q64,8,71,18.5Q78,29,84.5,39.5Q91,50,86,61Z"
            stroke="black"
            stroke-width="0.2"
            fill="url(#fill1)"
          ></path>
        </svg>
      </div>
      <!-- Blob 2 -->
      <div class="blob-wrapper blob2">
        <svg
          class="blob"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <linearGradient
              id="fill2"
              x1="0%"
              y1="0%"
              x2="100%"
              y2="0%"
              gradientTransform="rotate(97 0.5 0.5)"
            >
              <stop offset="0%" stop-color="#f6a739"></stop>
              <stop offset="100%" stop-color="#f96565"></stop>
            </linearGradient>
          </defs>
          <path
            d="M86,61Q81,72,71,78.5Q61,85,50,84.5Q39,84,31.5,76.5Q24,69,20,59.5Q16,50,16.5,38Q17,26,26,14.5Q35,3,49.5,5.5Q64,8,71,18.5Q78,29,84.5,39.5Q91,50,86,61Z"
            stroke="black"
            stroke-width="0.2"
            fill="url(#fill2)"
          ></path>
        </svg>
      </div>
      <!-- Blob 3 -->
      <div class="blob-wrapper blob3">
        <svg
          class="blob"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <linearGradient
              id="fill3"
              x1="0%"
              y1="0%"
              x2="100%"
              y2="0%"
              gradientTransform="rotate(97 0.5 0.5)"
            >
              <stop offset="0%" stop-color="#f6a739"></stop>
              <stop offset="100%" stop-color="#f96565"></stop>
            </linearGradient>
          </defs>
          <path
            d="M86,61Q81,72,71,78.5Q61,85,50,84.5Q39,84,31.5,76.5Q24,69,20,59.5Q16,50,16.5,38Q17,26,26,14.5Q35,3,49.5,5.5Q64,8,71,18.5Q78,29,84.5,39.5Q91,50,86,61Z"
            stroke="black"
            stroke-width="0.2"
            fill="url(#fill3)"
          ></path>
        </svg>
      </div>
    </ng-container>
  </div>

  <!-- Blob Group 2 -->
  <div [class]="getBlobGroupClass()">
    <ng-container *ngIf="group === 2">
      <!-- Blob 4 -->
      <div class="blob-wrapper blob4">
        <svg
          class="blob"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <linearGradient
              id="fill4"
              x1="0%"
              y1="0%"
              x2="100%"
              y2="0%"
              gradientTransform="rotate(97 0.5 0.5)"
            >
              <stop offset="0%" stop-color="#f6a739"></stop>
              <stop offset="100%" stop-color="#f96565"></stop>
            </linearGradient>
          </defs>
          <path
            d="M86,61Q81,72,71,78.5Q61,85,50,84.5Q39,84,31.5,76.5Q24,69,20,59.5Q16,50,16.5,38Q17,26,26,14.5Q35,3,49.5,5.5Q64,8,71,18.5Q78,29,84.5,39.5Q91,50,86,61Z"
            stroke="black"
            stroke-width="0.2"
            fill="url(#fill4)"
          ></path>
        </svg>
      </div>
      <!-- Blob 5 -->
      <div class="blob-wrapper blob5">
        <svg
          class="blob"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <linearGradient
              id="fill5"
              x1="0%"
              y1="0%"
              x2="100%"
              y2="0%"
              gradientTransform="rotate(97 0.5 0.5)"
            >
              <stop offset="0%" stop-color="#f6a739"></stop>
              <stop offset="100%" stop-color="#f96565"></stop>
            </linearGradient>
          </defs>
          <path
            d="M86,61Q81,72,71,78.5Q61,85,50,84.5Q39,84,31.5,76.5Q24,69,20,59.5Q16,50,16.5,38Q17,26,26,14.5Q35,3,49.5,5.5Q64,8,71,18.5Q78,29,84.5,39.5Q91,50,86,61Z"
            stroke="black"
            stroke-width="0.2"
            fill="url(#fill5)"
          ></path>
        </svg>
      </div>
      <!-- Blob 6 -->
      <div class="blob-wrapper blob6">
        <svg
          class="blob"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <linearGradient
              id="fill6"
              x1="0%"
              y1="0%"
              x2="100%"
              y2="0%"
              gradientTransform="rotate(97 0.5 0.5)"
            >
              <stop offset="0%" stop-color="#f6a739"></stop>
              <stop offset="100%" stop-color="#f96565"></stop>
            </linearGradient>
          </defs>
          <path
            d="M86,61Q81,72,71,78.5Q61,85,50,84.5Q39,84,31.5,76.5Q24,69,20,59.5Q16,50,16.5,38Q17,26,26,14.5Q35,3,49.5,5.5Q64,8,71,18.5Q78,29,84.5,39.5Q91,50,86,61Z"
            stroke="black"
            stroke-width="0.2"
            fill="url(#fill6)"
          ></path>
        </svg>
      </div>
    </ng-container>
  </div>
</div>
