<div class="background">
  <div class="green-layer">
    <svg
      class="main-green-svg"
      viewBox="0 0 900 601"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 244L25 237C50 230 100 216 150 229.2C200 242.3 250 282.7 300 316.5C350 350.3 400 377.7 450 360.7C500 343.7 550 282.3 600 274.3C650 266.3 700 311.7 750 322.7C800 333.7 850 310.3 875 298.7L900 287L900 601L875 601C850 601 800 601 750 601C700 601 650 601 600 601C550 601 500 601 450 601C400 601 350 601 300 601C250 601 200 601 150 601C100 601 50 601 25 601L0 601Z"
        fill="#547054"
      ></path>
    </svg>
    <img
      src="assets/images/vert.svg"
      alt="Green Layer SVG"
      class="background-svg green"
    />
  </div>
  <div class="blue-layer">
    <img
      src="assets/images/bleu.svg"
      alt="Blue Layer SVG"
      class="background-svg blue"
    />
  </div>

  <div class="saturated-svg">
    <img
      src="assets/images/vert.svg"
      alt="Green Layer SVG"
      class="saturated-svg green"
    />
    <img
      src="assets/images/bleu.svg"
      alt="Blue Layer SVG"
      class="background-svg blue"
    />
  </div>
</div>
<div class="blob-group-wrapper">
  <app-blob-group [group]="1"></app-blob-group>
  <app-blob-group [group]="2"></app-blob-group>
</div>
<div class="container">
  <app-header></app-header>
  <app-title></app-title>
  <app-bio></app-bio>
  <app-projects></app-projects>
  <!-- <app-about></app-about>-->
  <app-contact></app-contact> 
</div>



